#footer{
    background-color: #5cb85c;
    border-color: #4cae4c;
    height: 30px;
}

.param-but{
    height: 120px;
    width: 145px;
    margin-bottom:5px;
}

.btn-lg-txt
{
    font-size: large;
}
.btn-sm-txt
{
    font-size: small;
}

body{
	width: 100%;
}